.container1{
    padding-top: 10px;
   padding-left: 350px;
}
.timer_container{
    background-color: #fff;
    width: 20vw;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgb(0,0,0,0.4);
}
.exacttime{
    padding-left: 80px;
    margin-top: -10px;
}
.stop,.restart{
    margin-top: 10px;
    margin-bottom: 20px;
    color:#fff;
    font-size: 18px;
    background-color: skyblue;
    width: 50px;
    border: none;
    border-radius: 15px;
    cursor:pointer;
}

.stop{
    margin-left: 15px;
}